@page "/"
@inject IJSRuntime JsRuntime
@using System.Xml
@using Newtonsoft.Json
@using System.Xml.Serialization
@using System.Text

<PageTitle>D365 Converter</PageTitle>
<Div Class="container-fluid">
    @if (showTextEntry)
    {
        <Label>Select a File:</Label>
        <InputFile id="flpicker" OnChange="OnInputFileChange"></InputFile>
    }
    else
    {
        <Label>@convertedTrace.TraceCriteria.DisplayText</Label>
        <TreeView Nodes="convertedTrace.TraceHierarchy.ItemNode"
            GetChildNodes="@(item => item.ChildItemNode)"
            HasChildNodes="@(item => item.HasChildren == true)">
            <NodeContent>@context.DisplayLabel</NodeContent>
        </TreeView>
    }
</Div>


    @code {
    private bool showTextEntry { get; set; } = true;

    private string inputText { get; set; }
    private Trace convertedTrace { get; set; }

    private async Task OnInputFileChange(InputFileChangeEventArgs e)
    {
        long maxFileSize = 1024 * 60;

        foreach (var file in e.GetMultipleFiles(1))
        {
            if (file.ContentType != "text/xml")
            {
                var message = "Invalid File Type";
                await JsRuntime.InvokeVoidAsync("alert", message);

            } else
            {
                //load file
                XmlSerializer serializer = new XmlSerializer(typeof(Trace));

                var xmlFromFile = string.Empty;
                using(var fileContent = new StreamContent(file.OpenReadStream()))
                {
                    xmlFromFile = await fileContent.ReadAsStringAsync();
                }

                if (string.IsNullOrWhiteSpace(xmlFromFile))
                {
                    await JsRuntime.InvokeVoidAsync("alert", "File read error");
                    return;
                }

                using (var stream = new MemoryStream(Encoding.UTF8.GetBytes(xmlFromFile)))
                {
                    convertedTrace = (Trace)serializer.Deserialize(stream);
                }

                if (convertedTrace != null)
                {
                    showTextEntry = false;
                }
            }
        }
    }
}
